<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIKitCollectionTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31896ED51DDBEDB300B4148A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31896EEE1DDBEDB400B4148A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31896EF91DDBEDB400B4148A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
